.header {
  width: 100%;

  .for-customers {
    background: $primary-black;
    padding: 11px 80px;
    min-height: 47px;
    @include adaptiveValue("padding-left", 80, 20, 1);
    @include adaptiveValue("padding-right", 80, 20, 1);

    @media (max-width: 375px) {
      padding: 16px 20px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;

      font-weight: 500;
      color: $white;

      @media (max-width: 480px) {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;

        .delivery {
          line-height: 20px;
        }
      }
    }

    &__block {
      min-height: 24px;

      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;

      .review {
        text-align: right;
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 2px;
        @include adaptiveValue("gap", 2, 0, 1);
        flex-direction: row-reverse;

        &__item {
          height: 24px;
          @include adaptiveValue("height", 24, 16, 1);

          svg {
            @include adaptiveValue("width", 24, 16, 1);
            @include adaptiveValue("height", 24, 16, 1);
          }
        }

        &__item svg path {
          fill: #dcdcdc;
          stroke: #dcdcdc;
          cursor: pointer;
          transition: 0.2s;
        }

        &__item:hover svg path {
          fill: #989898;
          stroke: #989898;
        }
      }

      .rating[data-total-value="1"] .rating__item:nth-child(n + 5) svg path,
      .rating[data-total-value="2"] .rating__item:nth-child(n + 4) svg path,
      .rating[data-total-value="3"] .rating__item:nth-child(n + 3) svg path,
      .rating[data-total-value="4"] .rating__item:nth-child(n + 2) svg path,
      .rating[data-total-value="5"] .rating__item:nth-child(n + 1) svg path {
        fill: #fff4a8;
        stroke: #fff4a8;
      }
    }
  }
}

.header__navigation {
  width: 100%;
  min-height: 35px;
  padding-top: 19px;
  padding-bottom: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu {
    &__list {
      max-width: 809px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: auto;
    }

    &__item {
      font-size: 18px;
      line-height: 100%;
      background-color: transparent;
      padding: 8px 16px;
      border-radius: 8px;

      &:hover {
        transition: 0.3s;
        color: $white;
        background-color: $primary-black;

        svg path {
          transition: 0.3s;
          stroke: $white;
        }
      }
    }

    &__link,
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }

  .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    &__item:hover {
      transition: 0.3s;
      svg path {
        transition: 0.3s;
        stroke: $blue;
      }
    }

    &__link,
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
    }
  }
}

.cart-item {
  position: relative;
  &__num {
    width: 12px;
    height: 12px;
    padding: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2px;
    right: -2px;

    background-color: #ff2329;
    border-radius: 10px;

    font-size: 10px;
    font-weight: 600;
    color: $white;
  }
}

.cart-item__num {
}
