.section {
  width: 100%;
}

.container {
  max-width: 1600px;
  padding: 0 80px;

  @include adaptiveValue("padding-left", 80, 20, 1);
  @include adaptiveValue("padding-right", 80, 20, 1);
  margin: 0 auto;
}

.tpl-button {
  height: 31px;
  display: flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  border: 1px solid $primary-black;
  background: transparent;

  font-family: "Avenir Next";
  font-size: 16px;
  font-weight: 400;

  &:hover {
    transition: 0.3s;
    background-color: $primary-black;
    color: white;
    svg path {
      transition: 0.3s;
      stroke: $white;
    }
  }
}

.white-button {
  display: flex;
  width: 224px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: $white;
  background: transparent;

  border-radius: 4px;
  border: 1px solid $white;

  font-family: "Avenir Next";
  font-size: 16px;
  font-weight: 500;

  &:hover {
    transition: 0.3s;
    background-color: $primary-black;
  }
}
