h1 {
  @include adaptiveValue("font-size", 62, 28, 1);
  @include adaptiveValue("line-height", 72, 35, 1);
  font-weight: 600;
}

h2 {
  font-weight: 600;
  @include adaptiveValue("font-size", 52, 32, 1);
  @include adaptiveValue("line-height", 57, 35, 1);
}

h3 {
  @include adaptiveValue("font-size", 42, 28, 1);
  font-weight: 600;
  line-height: 128%;
}

h4 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;

  @include adaptiveValue("font-size", 32, 24, 1);
}

h5 {
  @include adaptiveValue("font-size", 21, 18, 1);
  font-weight: 600;
  line-height: 142%;
}

h6 {
  font-size: 20px;
  font-weight: 500;
}
